@use '~src/global' as *;

*{
    font-size: 12px;
}

.drop-down-container{
    position: fixed;
    z-index: 20;
    background-color: rgba($color: $b, $alpha: 0.5);
    width: 100%;
    height: 100vh;
    .drop-down-content{
        @extend %flex-row;
        img{
            cursor: pointer;
        }
        background-color: $w;
        padding: 20px 30px;
        height: 17px;
        justify-content: space-between;
        p{
            cursor: pointer;
            font-weight: 700;
            margin: 2px 0;
        }
    }
}

.header{
    @extend %flex-row;
    position: absolute;
    padding: 5vh;
    z-index: 10;
    img{
        margin: auto;
    }
    .ham-btn{
        display: none;
        z-index: 25;
        cursor: pointer;
    }
    .route-header{
        @extend %flex-row;
    }
    p{
        margin: 0;
        margin-left: 40px;
        color: $w;
        border: 2px solid transparent;
        transition: .3s linear;
        cursor: pointer;
        &:hover{
            border-bottom: 2px solid white;
        }
    }
}

.upper-container{
    @extend %flex-row; 
    height: 65vh;
}

.bottom-container{
    @extend %flex-row; 
    height: 35vh;
}

.image-slider-container{
    overflow: hidden;
}

.home-image-container{
    @extend %flex-col;
    width: 60vw;
    transition: .3s linear;
    transform: translateY(-65vh);
    div{
        height: 65vh;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.home-content-container{
    width: 40vw;
    display: flex;
}

.home-detail{
    transition: .3s linear;
}

.home-title-data{
    font-size: 40px;
    font-weight: 700;
}

.home-detail-data{
    font-size: 14px;
    color: $dg;
}

.home-data-container{
    @extend %flex-col;
    justify-content: space-between;
    width: 30vw;
    height: 50%;
    margin: auto;
    .shop-btn{
        @extend %flex-row;
        justify-content: space-between;
        width: 50%;
        font-weight: 700;
        letter-spacing: 7px;
        transition: .3s linear;
        .arrow-path{
            transition: .3s linear;
        }
        &:hover{
            color: $v-dg;
            cursor: pointer;
            .arrow-path{
                fill: $v-dg;
            }
        }
        &:active{
            color: $dg;
            .arrow-path{
                fill: $dg;
            }
        }
    }
}

.content-slider{
    @extend %flex-row;
    position: absolute;
    width: 10vw;
    height: 8.5vh;
    top: 56.5vh;
    background-color: $b;
    div{
        width: 50%;
        display: flex;
        cursor: pointer;
        transition: .3s linear;
        &:hover{
            background-color: $v-dg;
        }
        &:active{
            background-color: $dg;
        }
        img{
            margin: auto;
        }
    }
}


%bottom-image{
    width: 30vw;
    overflow: hidden;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.bottom-image-l{
    @extend %bottom-image;
}

.bottom-image-r{
    @extend %bottom-image;
}

.bottom-content-container{
    width: 40vw;
    display: flex;
}

.bottom-content{
    width: 75%;
    margin: auto;
    div{
        letter-spacing: 5px;
        font-weight: 700;
        color: $b;
    }
    P{
        color: $dg;
    }
}


@media screen and (max-width:768px){

    .header{
        width: calc(100% - 80px);
        padding: 40px;
        .route-header{
            display: none;
        }
        .logo-container{
            display: flex;
            position: absolute;
            width: calc(100% - 80px);
            img{
                margin: auto;
            }
        }
        .ham-btn{
            display: unset;
        }
    }

    .upper-container{
        width: 100%;
        flex-direction: column;
        height: 100%;
    }

    .image-slider-container{
        height: 50vh;
        overflow: hidden;
    }

    .home-image-container{
        width: 100%;
        transform: translateY(-50vh);
        div{
            height: 50vh;
            img{
                height: 100%;
            }
        }
    }

    .bottom-container{
        flex-direction: column;
        height: 100%;
    }

    .bottom-image-l{
        width: 100%;
    }

    .bottom-content-container{
        width: 100%;
        padding: 50px 0;
    }

    .bottom-image-r{
        width: 100%;
    }

    .content-slider{
        width: 30vw;
        top: 50vh - 8.5vh;
        right: 0;
    }

    .home-content-container{
        width: 100%;
    }
    
    .home-data-container{
        width: 90%;
        height: 40vh;
        margin: 80px 40px;
        .home-title-data{
            font-size: 20px;
        }
        .shop-btn{
            width: 75%;
        }
    }

}