<div>
    <div class="drop-down-container" [style]="getDropDown()">
        <div class="drop-down-content">
            <img src="/room-homepage/assets/images/icon-close.svg" alt="" (click)="toggleDrop()">
            <p>home</p>
            <p>shop</p>
            <p>about</p>
            <p>contact</p>
        </div>
    </div>
    <div class="header">
        <div class="ham-btn" (click)="toggleDrop()">
            <img src="/room-homepage/assets/images/icon-hamburger.svg" alt="">
        </div>
        <div class="logo-container">
            <img src="/room-homepage/assets/images/logo.svg" alt="">
        </div>
        <div class="route-header">
            <p>home</p>
            <p>shop</p>
            <p>about</p>
            <p>contact</p>
        </div>
    </div>
    <div class="upper-container">
        <div class="image-slider-container">
            <div class="home-image-container" id="home-image-slider">      
                <div>
                    <img [src]="getImage3()" alt="">
                </div>
                <div>
                    <img [src]="getImage1()" alt="">
                </div>      
                <div>
                    <img [src]="getImage2()" alt="">
                </div>
                <div>
                    <img [src]="getImage3()" alt="">
                </div>
                <div>
                    <img [src]="getImage1()" alt="">
                </div>
            </div>
        </div>
        <div class="home-content-container">
            <div class="home-data-container">
                <div class="home-detail" id="home-detail-data">
                    <div class="home-title-data">
                        {{_homeDataService.title}}
                    </div>
                    <br>
                    <div class="home-detail-data">
                        {{_homeDataService.desc}}
                    </div>
                </div>
                <div class="shop-btn">
                    SHOP NOW
                    <svg width="40" height="12" xmlns="http://www.w3.org/2000/svg"><path class="arrow-path" d="M34.05 0l5.481 5.527h.008v.008L40 6l-.461.465v.063l-.062-.001L34.049 12l-.662-.668 4.765-4.805H0v-1h38.206l-4.82-4.86L34.05 0z" fill="#000" fill-rule="nonzero"/></svg>
                </div>
            </div>
            <div class="content-slider">
                <div (click)="changeData(-1)">
                    <img src="/room-homepage/assets/images/icon-angle-left.svg" alt="">
                </div>
                <div (click)="changeData(1)">
                    <img src="/room-homepage/assets/images/icon-angle-right.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-container">
        <div class="bottom-image-l">
            <img src="/room-homepage/assets/images/image-about-dark.jpg" alt="">
        </div>
        <div class="bottom-content-container">
            <div class="bottom-content">
                <div>
                    ABOUT OUR FURNITURE
                </div>    
                <p>
                    Our multifunctional collection blends design and function to suit your individual taste.
                    Make each room unique, or pick a cohesive theme that best express your interests and what
                    inspires you. Find the furniture pieces you need, from traditional to contemporary styles
                    or anything in between. Product specialists are available to help you create your dream space.
                </p>
            </div>
        </div>
        <div class="bottom-image-r">
            <img src="/room-homepage/assets/images/image-about-light.jpg" alt="">
        </div>
    </div>
</div>